

<!-- Main Banner Carousel -->
<section class="py-3"
  style="background-image: url('assets/background1.png');background-repeat: no-repeat;background-size: cover;">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">

        <div class="banner-blocks">

          <div class="banner-ad large bg-info block-1">

            <div id="mainCarousel" class="carousel slide" data-bs-ride="carousel"  data-bs-ride="false" data-bs-interval="false">
              <div class="carousel-indicators">
                <button type="button" data-bs-target="#mainCarousel" data-bs-slide-to="0" class="active"
                  aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#mainCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#mainCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
              </div>
              <div class="carousel-inner">

                <div class="carousel-item active">
                  <div class="row banner-content p-5">
                    <div class="content-wrapper col-md-7">
                      <div class="categories my-3">ThreadRo</div>
                      <h3 class="display-4">Leading Manufacturer & Exporter</h3>
                      <p>Our focus is on consistent quality, timely delivery, and long-term business partnerships.</p>
                      <a href="#" class="btn btn-outline-dark btn-lg text-uppercase fs-6 rounded-1 px-4 py-3 mt-3">Shop
                        Now</a>
                    </div>
                    <div class="img-wrapper col-md-5">
                      <img src="../../assets/hero1.png" class="img-fluid">
                    </div>
                  </div>
                </div>

                <div class="carousel-item">
                  <div class="row banner-content p-5">
                    <div class="content-wrapper col-md-7">
                      <div class="categories mb-3">ThreadRo</div>
                      <h3 class="banner-title">Secure Every Connection</h3>
                      <p>ThreadRo is a leading manufacturer and exporter of threaded rods and related fastening
                        solutions based in Ludhiana, India.</p>
                      <a href="#" class="btn btn-outline-dark btn-lg text-uppercase fs-6 rounded-1">Shop Collection</a>
                    </div>
                    <div class="img-wrapper col-md-5">
                      <img src="../../assets/hero2.png" class="img-fluid">
                    </div>
                  </div>
                </div>

                <div class="carousel-item">
                  <div class="row banner-content p-5">
                    <div class="content-wrapper col-md-7">
                      <div class="categories mb-3">ThreadRo</div>
                      <h3 class="banner-title">Strong & Reliable Fasteners</h3>
                      <p>We specialize in bulk production and container-based export for construction, infrastructure,
                        and industrial projects.</p>
                      <a href="#" class="btn btn-outline-dark btn-lg text-uppercase fs-6 rounded-1">Shop Collection</a>
                    </div>
                    <div class="img-wrapper col-md-5">
                      <img src="../../assets/hero3.png" class="img-fluid">
                    </div>
                  </div>
                </div>
              </div>

              <button class="carousel-control-prev" type="button" data-bs-target="#mainCarousel" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#mainCarousel" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div>
          </div>

          <div class="banner-ad bg-success-subtle block-2"
            style="background:url('assets/hero-right1.png') no-repeat;background-position: right top; background-size: auto">
            <div class="row banner-content p-5">

              <div class="content-wrapper col-md-7">
                <div class="categories sale">20% off</div>
                <h3 class="banner-title">High Quality-Competitive Pricing</h3>

              </div>

            </div>
          </div>

          <div class="banner-ad bg-danger block-3"
            style="background:url('assets/hero-right2.png') no-repeat;background-position: right bottom; background-size: auto">
            <div class="row banner-content p-5">

              <div class="content-wrapper col-md-7">
                <div class="categories sale">15% off</div>
                <h3 class="item-title">Bulk Supply-Container Load Available</h3>
                <!-- <a href="#" class="d-flex align-items-center nav-link">Shop Collection <svg width="24" height="24">
                    <use xlink:href="#arrow-right"></use>
                  </svg></a> -->
              </div>

            </div>
          </div>

        </div>
        <!-- / Banner Blocks -->

      </div>
    </div>
  </div>
</section>

<!-- Category Carousel -->
<section class="py-5 overflow-hidden">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">

        <div class="section-header d-flex flex-wrap justify-content-between mb-5">
          <h2 class="section-title">Category</h2>

          <div class="d-flex align-items-center">
            <a href="#" class="btn-link text-decoration-none">View All Categories →</a>
          </div>
        </div>

      </div>
    </div>

    <div class="row row-cols-2 row-cols-md-5">
      <div class="col">
        <a href="#" class="nav-link category-item text-center">
          <div class="p-3 category-icons">📏</div>
          <h3 class="category-title">Threaded Rod</h3>
        </a>
      </div>

      <div class="col">
        <a href="#" class="nav-link category-item text-center">
          <div class="p-3 category-icons">🔩</div>
          <h3 class="category-title">Stud Bolt</h3>
        </a>
      </div>

      <div class="col">
        <a href="#" class="nav-link category-item text-center">
          <div class="category-icons p-3">⬢</div>
          <h3 class="category-title">Hex Nut</h3>
        </a>
      </div>

      <div class="col">
        <a href="#" class="nav-link category-item text-center">
          <div class="p-3 category-icons">🔘</div>
          <h3 class="category-title">Washer</h3>
        </a>
      </div>

      <div class="col">
        <a href="#" class="nav-link category-item text-center">
          <div class="p-3 category-icons">⚓</div>
          <h3 class="category-title">Anchor Bolt</h3>
        </a>
      </div>
    </div>
    <!-- <div class="row">
      <div class="col-md-2 col-6">
        <a href="index.html" class="nav-link category-item text-center">
           <div class="text-center p-3 category-icons">📏</div>
          <h3 class="category-title">Threaded Rod</h3>
        </a>
      </div>
      <div class="col-md-2 col-6">
        <a href="index.html" class="nav-link category-item text-center">
           <div class="text-center p-3 category-icons">🔩</div>
          <h3 class="category-title">Stud Bolt</h3>
        </a>
      </div>
      <div class="col-md-2 col-6">
        <a href="index.html" class="nav-link category-item text-center">
          <div class="text-center category-icons">⬢</div> 
          <h3 class="category-title">Hex Nut</h3>
        </a>
      </div>
      <div class="col-md-2 col-6">
        <a href="index.html" class="nav-link category-item text-center">
           <div class="text-center p-3 category-icons">🔘</div>
          <h3 class="category-title">Washer</h3>
        </a>
      </div>
      <div class="col-md-2 col-6">
        <a href="index.html" class="nav-link category-item items-center text-center">
          <div class="text-center p-3 category-icons"> ⚓</div>
          <h3 class="category-title">Anchor Bolt</h3>
        </a>
      </div>

    </div> -->
  </div>
</section>

<!-- Brand Carousel -->
<section class="py-5 overflow-hidden">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">

        <div class="section-header d-flex flex-wrap justify-content-between mb-5">

          <h2 class="section-title">Newly Arrived Brands</h2>

          <div class="d-flex align-items-center">
            <a href="#" class="btn-link text-decoration-none">View All Categories →</a>
            <div class="carousel-buttons">
              <button class="carousel-prev brand-carousel-prev btn btn-yellow" type="button"
                data-bs-target="#brandCarousel" data-bs-slide="prev">❮</button>
              <button class="carousel-next brand-carousel-next btn btn-yellow" type="button"
                data-bs-target="#brandCarousel" data-bs-slide="next">❯</button>
            </div>
          </div>
        </div>

      </div>
    </div>
    <div class="row">
      <div class="col-md-12">

        <div id="brandCarousel" class="carousel slide" data-bs-ride="carousel" data-bs-ride="false" data-bs-interval="false">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <div class="row">
                <div class="col-md-4 col-12">
                  <div class="card mb-3 p-3 rounded-4 shadow border-0">
                    <div class="row g-0">
                      <div class="col-md-4">
                        <img src="../../assets/products/thread.png" class="img-fluid rounded" alt="Card title">
                      </div>
                      <div class="col-md-8">
                        <div class="card-body py-0">
                          <p class="text-muted mb-0">Anchor Bolts</p>
                          <h5 class="card-title">Hold Strong. Stay Secure</h5>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-4 col-12">
                  <div class="card mb-3 p-3 rounded-4 shadow border-0">
                    <div class="row g-0">
                      <div class="col-md-4">
                        <img src="../../assets/products/stud.png" class="img-fluid rounded" alt="Card title">
                      </div>
                      <div class="col-md-8">
                        <div class="card-body py-0">
                          <p class="text-muted mb-0">Stud Bolts</p>
                          <h5 class="card-title">Reliable Stud Bolts for Critical Applications</h5>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-4 col-12">
                  <div class="card mb-3 p-3 rounded-4 shadow border-0">
                    <div class="row g-0">
                      <div class="col-md-4">
                        <img src="../../assets/products/hex.png" class="img-fluid rounded" alt="Card title">
                      </div>
                      <div class="col-md-8">
                        <div class="card-body py-0">
                          <p class="text-muted mb-0">Hex Bolts</p>
                          <h5 class="card-title">Hex Bolts for Heavy-Duty Performance</h5>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="row">
                <div class="col-md-4 col-12">
                  <div class="card mb-3 p-3 rounded-4 shadow border-0">
                    <div class="row g-0">
                      <div class="col-md-4">
                        <img src="../../assets/products/thread.png" class="img-fluid rounded" alt="Card title">
                      </div>
                      <div class="col-md-8">
                        <div class="card-body py-0">
                          <p class="text-muted mb-0">Threaded Rod</p>
                          <h5 class="card-title">Continuous Thread. Reliable Performance.</h5>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-4 col-12">
                  <div class="card mb-3 p-3 rounded-4 shadow border-0">
                    <div class="row g-0">
                      <div class="col-md-4">
                        <img src="../../assets/products/washer.png" class="img-fluid rounded" alt="Card title">
                      </div>
                      <div class="col-md-8">
                        <div class="card-body py-0">
                          <p class="text-muted mb-0">Washer</p>
                          <h5 class="card-title">Stability Starts with the Right Washer</h5>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>

<!-- Trending Products -->
<section class="py-5">
  <div class="container-fluid">

    <div class="row">
      <div class="col-md-12">

        <div class="bootstrap-tabs product-tabs">
          <div class="tabs-header d-flex justify-content-between border-bottom my-5">
            <h3>Trending Products</h3>
            <nav>
              <div class="nav nav-tabs" id="nav-tab" role="tablist">
                <button class="nav-link text-uppercase fs-6 active" id="nav-all-tab" data-bs-toggle="tab"
                  data-bs-target="#nav-all" type="button" role="tab" aria-controls="nav-all"
                  aria-selected="true">All</button>
                <button class="nav-link text-uppercase fs-6" id="nav-threaded-tab" data-bs-toggle="tab"
                  data-bs-target="#nav-threaded" type="button" role="tab" aria-controls="nav-threaded"
                  aria-selected="false">Threaded Rods</button>
                <button class="nav-link text-uppercase fs-6" id="nav-stud-tab" data-bs-toggle="tab"
                  data-bs-target="#nav-stud" type="button" role="tab" aria-controls="nav-stud"
                  aria-selected="false">Stud Bolts</button>
                <button class="nav-link text-uppercase fs-6" id="nav-hex-tab" data-bs-toggle="tab"
                  data-bs-target="#nav-hex" type="button" role="tab" aria-controls="nav-hex" aria-selected="false">Hex
                  Nuts</button>
                <button class="nav-link text-uppercase fs-6" id="nav-washer-tab" data-bs-toggle="tab"
                  data-bs-target="#nav-washer" type="button" role="tab" aria-controls="nav-washer"
                  aria-selected="false">
                  Washer</button>
                <button class="nav-link text-uppercase fs-6" id="nav-anchor-tab" data-bs-toggle="tab"
                  data-bs-target="#nav-anchor" type="button" role="tab" aria-controls="nav-anchor"
                  aria-selected="false">Anchor Bolts
                </button>

              </div>
            </nav>
          </div>
          <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade show active" id="nav-all" role="tabpanel" aria-labelledby="nav-all-tab">
              <div class="product-grid row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-5">
                <div class="col" *ngFor="let product of allProducts.slice(0,10)">
                  <div class="product-item">
                    <span class="badge bg-success position-absolute m-3" *ngIf="product.onSale">-30%</span>
                    <a href="#" class="btn-wishlist"><svg width="24" height="24">
                        <use xlink:href="#heart"></use>
                      </svg></a>
                    <figure>
                      <a href="index.html" title="Product Title">
                        <img [src]="product.image" class="tab-image">
                      </a>
                    </figure>
                    <h3>{{product.name}}</h3>
                    <span class="qty">1 Ton</span><span class="rating"><svg width="24" height="24"
                        class="text-primary">
                        <use xlink:href="#star-solid"></use>
                      </svg> 4.5</span>
                    <span class="price">₹{{product.price}}</span>
                    <div class="d-flex align-items-center justify-content-between">
                      <div class="input-group product-qty">
                        <span class="input-group-btn">
                          <button type="button" class="quantity-left-minus btn btn-danger btn-number" data-type="minus">
                            <svg width="16" height="16">
                              <use xlink:href="#minus"></use>
                            </svg>
                          </button>
                        </span>
                        <input type="text" id="quantity" name="quantity" class="form-control input-number" value="1">
                        <span class="input-group-btn">
                          <button type="button" class="quantity-right-plus btn btn-success btn-number" data-type="plus">
                            <svg width="16" height="16">
                              <use xlink:href="#plus"></use>
                            </svg>
                          </button>
                        </span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="tab-pane fade" id="nav-stud" role="tabpanel" aria-labelledby="nav-stud-tab">

              <div class="product-grid row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-5">

                <div class="col" *ngFor="let product of studBolt.slice(0,6)">
                  <div class="product-item">
                    <span class="badge bg-success position-absolute m-3" *ngIf="product.onSale">-30%</span>
                    <a href="#" class="btn-wishlist"><svg width="24" height="24">
                        <use xlink:href="#heart"></use>
                      </svg></a>
                    <figure>
                      <a href="index.html" title="Product Title">
                        <img [src]="product.image" class="tab-image">
                      </a>
                    </figure>
                    <h3>{{product.name}}</h3>
                    <span class="qty">1 Ton</span><span class="rating"><svg width="24" height="24"
                        class="text-primary">
                        <use xlink:href="#star-solid"></use>
                      </svg> 4.5</span>
                    <span class="price">₹{{product.price}}</span>
                    <div class="d-flex align-items-center justify-content-between">
                      <div class="input-group product-qty">
                        <span class="input-group-btn">
                          <button type="button" class="quantity-left-minus btn btn-danger btn-number" data-type="minus">
                            <svg width="16" height="16">
                              <use xlink:href="#minus"></use>
                            </svg>
                          </button>
                        </span>
                        <input type="text" id="quantity" name="quantity" class="form-control input-number" value="1">
                        <span class="input-group-btn">
                          <button type="button" class="quantity-right-plus btn btn-success btn-number" data-type="plus">
                            <svg width="16" height="16">
                              <use xlink:href="#plus"></use>
                            </svg>
                          </button>
                        </span>
                      </div>
                    </div>
                  </div>
                </div>

              </div>
              <!-- / product-grid -->

            </div>
            <div class="tab-pane fade" id="nav-hex" role="tabpanel" aria-labelledby="nav-hex-tab">

              <div class="product-grid row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-5">

                <div class="col" *ngFor="let product of hexNuts.slice(0,6)">
                  <div class="product-item">
                    <a href="#" class="btn-wishlist"><svg width="24" height="24">
                        <use xlink:href="#heart"></use>
                      </svg></a>
                    <figure>
                      <a href="index.html" title="Product Title">
                        <img [src]="product.image" class="tab-image">
                      </a>
                    </figure>
                    <h3>{{product.name}}</h3>
                    <span class="qty">1 Ton</span><span class="rating"><svg width="24" height="24"
                        class="text-primary">
                        <use xlink:href="#star-solid"></use>
                      </svg> 4.5</span>
                    <span class="price">₹{{product.price}}</span>
                    <div class="d-flex align-items-center justify-content-between">
                      <div class="input-group product-qty">
                        <span class="input-group-btn">
                          <button type="button" class="quantity-left-minus btn btn-danger btn-number" data-type="minus">
                            <svg width="16" height="16">
                              <use xlink:href="#minus"></use>
                            </svg>
                          </button>
                        </span>
                        <input type="text" id="quantity" name="quantity" class="form-control input-number" value="1">
                        <span class="input-group-btn">
                          <button type="button" class="quantity-right-plus btn btn-success btn-number" data-type="plus">
                            <svg width="16" height="16">
                              <use xlink:href="#plus"></use>
                            </svg>
                          </button>
                        </span>
                      </div>
                    </div>
                  </div>
                </div>

              </div>
              <!-- / product-grid -->

            </div>
            <div class="tab-pane fade" id="nav-washer" role="tabpanel" aria-labelledby="nav-washer-tab">

              <div class="product-grid row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-5">

                <div class="col" *ngFor="let product of washer.slice(0,6)">
                  <div class="product-item">
                    <a href="#" class="btn-wishlist"><svg width="24" height="24">
                        <use xlink:href="#heart"></use>
                      </svg></a>
                    <figure>
                      <a href="index.html" title="Product Title">
                        <img [src]="product.image" class="tab-image">
                      </a>
                    </figure>
                    <h3>{{product.name}}</h3>
                    <span class="qty">1 Ton</span><span class="rating"><svg width="24" height="24"
                        class="text-primary">
                        <use xlink:href="#star-solid"></use>
                      </svg> 4.5</span>
                    <span class="price">₹{{product.price}}</span>
                    <div class="d-flex align-items-center justify-content-between">
                      <div class="input-group product-qty">
                        <span class="input-group-btn">
                          <button type="button" class="quantity-left-minus btn btn-danger btn-number" data-type="minus">
                            <svg width="16" height="16">
                              <use xlink:href="#minus"></use>
                            </svg>
                          </button>
                        </span>
                        <input type="text" id="quantity" name="quantity" class="form-control input-number" value="1">
                        <span class="input-group-btn">
                          <button type="button" class="quantity-right-plus btn btn-success btn-number" data-type="plus">
                            <svg width="16" height="16">
                              <use xlink:href="#plus"></use>
                            </svg>
                          </button>
                        </span>
                      </div>
                    </div>
                  </div>
                </div>

              </div>
              <!-- / product-grid -->

            </div>
            <div class="tab-pane fade" id="nav-anchor" role="tabpanel" aria-labelledby="nav-anchor-tab">

              <div class="product-grid row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-5">

                <div class="col" *ngFor="let product of anchor.slice(0,6)">
                  <div class="product-item">
                    <a href="#" class="btn-wishlist"><svg width="24" height="24">
                        <use xlink:href="#heart"></use>
                      </svg></a>
                    <figure>
                      <a href="index.html" title="Product Title">
                        <img [src]="product.image" class="tab-image">
                      </a>
                    </figure>
                    <h3>{{product.name}}</h3>
                    <span class="qty">1 Ton</span><span class="rating"><svg width="24" height="24"
                        class="text-primary">
                        <use xlink:href="#star-solid"></use>
                      </svg> 4.5</span>
                    <span class="price">₹{{product.price}}</span>
                    <div class="d-flex align-items-center justify-content-between">
                      <div class="input-group product-qty">
                        <span class="input-group-btn">
                          <button type="button" class="quantity-left-minus btn btn-danger btn-number" data-type="minus">
                            <svg width="16" height="16">
                              <use xlink:href="#minus"></use>
                            </svg>
                          </button>
                        </span>
                        <input type="text" id="quantity" name="quantity" class="form-control input-number" value="1">
                        <span class="input-group-btn">
                          <button type="button" class="quantity-right-plus btn btn-success btn-number" data-type="plus">
                            <svg width="16" height="16">
                              <use xlink:href="#plus"></use>
                            </svg>
                          </button>
                        </span>
                      </div>
                    </div>
                  </div>
                </div>

              </div>
              <!-- / product-grid -->

            </div>

            <div class="tab-pane fade" id="nav-threaded" role="tabpanel" aria-labelledby="nav-threaded-tab">
              <div class="product-grid row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-5">

                <div class="col" *ngFor="let product of thrededRods.slice(0,10)">
                  <div class="product-item">
                    <span class="badge bg-success position-absolute m-3" *ngIf="product.onSale">-30%</span>
                    <a href="#" class="btn-wishlist"><svg width="24" height="24">
                        <use xlink:href="#heart"></use>
                      </svg></a>
                    <figure>
                      <a href="index.html" title="Product Title">
                        <img [src]="product.image" class="tab-image">
                      </a>
                    </figure>
                    <h3>{{product.name}}</h3>
                    <span class="qty">1 Ton</span><span class="rating"><svg width="24" height="24"
                        class="text-primary">
                        <use xlink:href="#star-solid"></use>
                      </svg> 4.5</span>
                    <span class="price">₹{{product.price}}</span>
                    <div class="d-flex align-items-center justify-content-between">
                      <div class="input-group product-qty">
                        <span class="input-group-btn">
                          <button type="button" class="quantity-left-minus btn btn-danger btn-number" data-type="minus">
                            <svg width="16" height="16">
                              <use xlink:href="#minus"></use>
                            </svg>
                          </button>
                        </span>
                        <input type="text" id="quantity" name="quantity" class="form-control input-number" value="1">
                        <span class="input-group-btn">
                          <button type="button" class="quantity-right-plus btn btn-success btn-number" data-type="plus">
                            <svg width="16" height="16">
                              <use xlink:href="#plus"></use>
                            </svg>
                          </button>
                        </span>
                      </div>
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>

<!-- Banner Ads -->
<section class="py-5">
  <div class="container-fluid">
    <div class="row">

      <div class="col-md-6">
        <div class="banner-ad bg-danger mb-3"
          style="background: url('assets/ad1.png');background-repeat: no-repeat;background-position: right bottom;">
          <div class="banner-content p-5">

            <div class="categories text-primary fs-3 fw-bold">Bulk Supply</div>
            <h3 class="banner-title">Container Load Available</h3>
            <p>We offer flexible container loading solutions to meet your shipping requirements, including both partial
              and full container loads.</p>
            <a href="#" class="btn btn-dark text-uppercase">Show Now</a>

          </div>

        </div>
      </div>
      <div class="col-md-6">
        <div class="banner-ad bg-info"
          style="background: url('assets/ad1.png');background-repeat: no-repeat;background-position: bottom;">
          <div class="banner-content p-5">

            <div class="categories text-primary fs-3 fw-bold">Production Capacity</div>
            <h3 class="banner-title">Quality standards and operational efficiency</h3>
            <p>It represents our ability to produce high-quality products using advanced machinery, skilled workforce,
              and efficient processes.</p>

          </div>

        </div>
      </div>
      <div class="col-md-6">
        <div class="banner-ad bg-info"
          style="background: url('assets/ad1.png');background-repeat: no-repeat;background-position: right bottom;">
          <div class="banner-content p-5">

            <div class="categories text-primary fs-3 fw-bold">Packaging</div>
            <h3 class="banner-title">Quality standards and operational efficiency</h3>
            <ul class="mb-0">

              <li> Bundle Packing – Products are securely strapped together for easy handling</li>
              <li> Pallet Packing – Goods are placed on pallets for stable and efficient transport</li>
              <li> Export Standard – Packaging meets international shipping standards for safe global delivery</li>

            </ul>

          </div>

        </div>
      </div>

      <div class="col-md-6">
        <div class="banner-ad bg-danger mb-3"
          style="background: url('assets/ad1.png');background-repeat: no-repeat;background-position: top;">
          <div class="banner-content p-5">

            <div class="categories text-primary fs-3 fw-bold">Many More...</div>
            <h3 class="banner-title">Customization | Quality | MOQ (Minimum Order Quantity)</h3>
            <ul class="rounded bg-warning">
              <li>Available in various sizes</li>
              <li>Products are tested for strength and performance</li>
              <li>Orders are accepted based on full container loads for efficient shipping and cost optimization</li>
            </ul>
            <a href="#" class="btn btn-dark text-uppercase">Show Now</a>

          </div>

        </div>
      </div>
    </div>
  </div>
</section>

<!-- Best Selling Products Carousel -->
<section class="py-5 overflow-hidden">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">

        <div class="section-header d-flex flex-wrap justify-content-between my-5">

          <h2 class="section-title">Best selling products</h2>

          <div class="d-flex align-items-center">
            <a href="#" class="btn-link text-decoration-none">View All Categories →</a>
            <div class="carousel-buttons">
              <button class="carousel-prev products-carousel-prev btn btn-primary" type="button"
                data-bs-target="#bestSellingCarousel" data-bs-slide="prev">❮</button>
              <button class="carousel-next products-carousel-next btn btn-primary" type="button"
                data-bs-target="#bestSellingCarousel" data-bs-slide="next">❯</button>
            </div>
          </div>
        </div>

      </div>
    </div>
    <div class="row">
      <div class="col-md-12">

        <div id="bestSellingCarousel" class="carousel slide" data-bs-ride="carousel" data-bs-ride="false" data-bs-interval="false">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <div class="row">
                <div class="col-md-3 col-12" *ngFor="let product of bestSelling.slice(0,4)">
                  <div class="product-item">
                    <span class="badge bg-success position-absolute m-3" *ngIf="product.onSale">-15%</span>
                    <a href="#" class="btn-wishlist"><svg width="24" height="24">
                        <use xlink:href="#heart"></use>
                      </svg></a>
                    <figure>
                      <a href="index.html" title="Product Title">
                        <img [src]="product.image" class="tab-image">
                      </a>
                    </figure>
                    <h3>{{product.name}}</h3>
                    <span class="qty">1 Ton</span><span class="rating"><svg width="24" height="24"
                        class="text-primary">
                        <use xlink:href="#star-solid"></use>
                      </svg> 4.5</span>
                    <span class="price">₹{{product.price}}</span>
                    <div class="d-flex align-items-center justify-content-between">
                      <div class="input-group product-qty">
                        <span class="input-group-btn">
                          <button type="button" class="quantity-left-minus btn btn-danger btn-number" data-type="minus">
                            <svg width="16" height="16">
                              <use xlink:href="#minus"></use>
                            </svg>
                          </button>
                        </span>
                        <input type="text" id="quantity" name="quantity" class="form-control input-number" value="1">
                        <span class="input-group-btn">
                          <button type="button" class="quantity-right-plus btn btn-success btn-number" data-type="plus">
                            <svg width="16" height="16">
                              <use xlink:href="#plus"></use>
                            </svg>
                          </button>
                        </span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="row">
                <div class="col-md-3 col-6" *ngFor="let product of bestSelling.slice(4,8)">
                  <div class="product-item">
                    <span class="badge bg-success position-absolute m-3" *ngIf="product.onSale">-15%</span>
                    <a href="#" class="btn-wishlist"><svg width="24" height="24">
                        <use xlink:href="#heart"></use>
                      </svg></a>
                    <figure>
                      <a href="index.html" title="Product Title">
                        <img [src]="product.image" class="tab-image">
                      </a>
                    </figure>
                    <h3>{{product.name}}</h3>
                    <span class="qty">1 Ton</span><span class="rating"><svg width="24" height="24"
                        class="text-primary">
                        <use xlink:href="#star-solid"></use>
                      </svg> 4.5</span>
                    <span class="price">₹{{product.price}}</span>
                    <div class="d-flex align-items-center justify-content-between">
                      <div class="input-group product-qty">
                        <span class="input-group-btn">
                          <button type="button" class="quantity-left-minus btn btn-danger btn-number" data-type="minus">
                            <svg width="16" height="16">
                              <use xlink:href="#minus"></use>
                            </svg>
                          </button>
                        </span>
                        <input type="text" id="quantity" name="quantity" class="form-control input-number" value="1">
                        <span class="input-group-btn">
                          <button type="button" class="quantity-right-plus btn btn-success btn-number" data-type="plus">
                            <svg width="16" height="16">
                              <use xlink:href="#plus"></use>
                            </svg>
                          </button>
                        </span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- / best-selling-carousel -->

      </div>
    </div>
  </div>
</section>

<!-- Discount Section -->
<section class="py-5">
  <div class="container-fluid">

    <div class="bg-secondary py-5 my-5 rounded-5" style="background: url('assets/background2.png') no-repeat;">
      <div class="container my-5">
        <div class="row">
          <div class="col-md-6 p-5">
            <div class="section-header">
              <h2 class="section-title display-4">Premium <span class="text-primary">Threaded Rod & Fastener</span>
                Exporter from India</h2>
            </div>
            <p>ThreadRo is a leading manufacturer and exporter of threaded rods and related fastening solutions
              based in Ludhiana, India.</p>
          </div>
          <div class="col-md-6 p-5">
            <form>
              <div class="mb-3">
                <label for="name" class="form-label">Name</label>
                <input type="text" class="form-control form-control-lg" name="name" id="name" placeholder="Name">
              </div>
              <div class="mb-3">
                <label for="email" class="form-label">Email</label>
                <input type="email" class="form-control form-control-lg" name="email" id="email"
                  placeholder="abc@mail.com">
              </div>
              <div class="form-check form-check-inline mb-3">
                <label class="form-check-label" for="subscribe">
                  <input class="form-check-input" type="checkbox" id="subscribe" value="subscribe">
                  Subscribe to the newsletter</label>
              </div>
              <div class="d-grid gap-2">
                <button type="submit" class="btn btn-dark btn-lg">Submit</button>
              </div>
            </form>

          </div>

        </div>

      </div>
    </div>

  </div>
</section>

<!-- Most Popular Products Carousel -->
<section class="py-5 overflow-hidden">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">

        <div class="section-header d-flex justify-content-between">

          <h2 class="section-title">Most popular products</h2>

          <div class="d-flex align-items-center">
            <a href="#" class="btn-link text-decoration-none">View All Categories →</a>
            <div class="carousel-buttons">
              <button class="carousel-prev products-carousel-prev btn btn-primary" type="button"
                data-bs-target="#popularCarousel" data-bs-slide="prev">❮</button>
              <button class="carousel-next products-carousel-next btn btn-primary" type="button"
                data-bs-target="#popularCarousel" data-bs-slide="next">❯</button>
            </div>
          </div>
        </div>

      </div>
    </div>
    <div class="row">
      <div class="col-md-12">

        <div id="popularCarousel" class="carousel slide" data-bs-ride="carousel" data-bs-ride="false" data-bs-interval="false">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <div class="row">
                <div class="col-md-3 col-12" *ngFor="let product of popular.slice(0,4)">
                  <div class="product-item">
                    <a href="#" class="btn-wishlist"><svg width="24" height="24">
                        <use xlink:href="#heart"></use>
                      </svg></a>
                    <figure>
                      <a href="index.html" title="Product Title">
                        <img [src]="product.image" class="tab-image">
                      </a>
                    </figure>
                    <h3>{{product.name}}</h3>
                    <span class="qty">1 Ton</span><span class="rating"><svg width="24" height="24"
                        class="text-primary">
                        <use xlink:href="#star-solid"></use>
                      </svg> 4.5</span>
                    <span class="price">₹{{product.price}}</span>
                    <div class="d-flex align-items-center justify-content-between">
                      <div class="input-group product-qty">
                        <span class="input-group-btn">
                          <button type="button" class="quantity-left-minus btn btn-danger btn-number" data-type="minus">
                            <svg width="16" height="16">
                              <use xlink:href="#minus"></use>
                            </svg>
                          </button>
                        </span>
                        <input type="text" id="quantity" name="quantity" class="form-control input-number" value="1">
                        <span class="input-group-btn">
                          <button type="button" class="quantity-right-plus btn btn-success btn-number" data-type="plus">
                            <svg width="16" height="16">
                              <use xlink:href="#plus"></use>
                            </svg>
                          </button>
                        </span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="row">
                <div class="col-md-3 col-6" *ngFor="let product of popular.slice(4,8)">
                  <div class="product-item">
                    <a href="#" class="btn-wishlist"><svg width="24" height="24">
                        <use xlink:href="#heart"></use>
                      </svg></a>
                    <figure>
                      <a href="index.html" title="Product Title">
                        <img [src]="product.image" class="tab-image">
                      </a>
                    </figure>
                    <h3>{{product.name}}</h3>
                    <span class="qty">1 Ton</span><span class="rating"><svg width="24" height="24"
                        class="text-primary">
                        <use xlink:href="#star-solid"></use>
                      </svg> 4.5</span>
                    <span class="price">₹{{product.price}}</span>
                    <div class="d-flex align-items-center justify-content-between">
                      <div class="input-group product-qty">
                        <span class="input-group-btn">
                          <button type="button" class="quantity-left-minus btn btn-danger btn-number" data-type="minus">
                            <svg width="16" height="16">
                              <use xlink:href="#minus"></use>
                            </svg>
                          </button>
                        </span>
                        <input type="text" id="quantity" name="quantity" class="form-control input-number" value="1">
                        <span class="input-group-btn">
                          <button type="button" class="quantity-right-plus btn btn-success btn-number" data-type="plus">
                            <svg width="16" height="16">
                              <use xlink:href="#plus"></use>
                            </svg>
                          </button>
                        </span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- / popular-carousel -->

      </div>
    </div>
  </div>
</section>

<!-- Just Arrived Carousel -->
<section class="py-5 overflow-hidden">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">

        <div class="section-header d-flex justify-content-between">

          <h2 class="section-title">Just arrived</h2>

          <div class="d-flex align-items-center">
            <a href="#" class="btn-link text-decoration-none">View All Categories →</a>
            <div class="carousel-buttons">
              <button class="carousel-prev products-carousel-prev btn btn-primary" type="button"
                data-bs-target="#justArrivedCarousel" data-bs-slide="prev">❮</button>
              <button class="carousel-next products-carousel-next btn btn-primary" type="button"
                data-bs-target="#justArrivedCarousel" data-bs-slide="next">❯</button>
            </div>
          </div>
        </div>

      </div>
    </div>
    <div class="row">
      <div class="col-md-12">

        <div id="justArrivedCarousel" class="carousel slide" data-bs-ride="carousel" data-bs-ride="false" data-bs-interval="false">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <div class="row">
                <div class="col-md-3 col-12" *ngFor="let product of justArrived.slice(0,4)">
                  <div class="product-item">
                    <a href="#" class="btn-wishlist"><svg width="24" height="24">
                        <use xlink:href="#heart"></use>
                      </svg></a>
                    <figure>
                      <a href="index.html" title="Product Title">
                        <img [src]="product.image" class="tab-image">
                      </a>
                    </figure>
                    <h3>{{product.name}}</h3>
                    <span class="qty">1 Ton</span><span class="rating"><svg width="24" height="24"
                        class="text-primary">
                        <use xlink:href="#star-solid"></use>
                      </svg> 4.5</span>
                    <span class="price">₹{{product.price}}</span>
                    <div class="d-flex align-items-center justify-content-between">
                      <div class="input-group product-qty">
                        <span class="input-group-btn">
                          <button type="button" class="quantity-left-minus btn btn-danger btn-number" data-type="minus">
                            <svg width="16" height="16">
                              <use xlink:href="#minus"></use>
                            </svg>
                          </button>
                        </span>
                        <input type="text" id="quantity" name="quantity" class="form-control input-number" value="1">
                        <span class="input-group-btn">
                          <button type="button" class="quantity-right-plus btn btn-success btn-number" data-type="plus">
                            <svg width="16" height="16">
                              <use xlink:href="#plus"></use>
                            </svg>
                          </button>
                        </span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="row">
                <div class="col-md-3 col-6" *ngFor="let product of justArrived.slice(4,8)">
                  <div class="product-item">
                    <a href="#" class="btn-wishlist"><svg width="24" height="24">
                        <use xlink:href="#heart"></use>
                      </svg></a>
                    <figure>
                      <a href="index.html" title="Product Title">
                        <img [src]="product.image" class="tab-image">
                      </a>
                    </figure>
                    <h3>{{product.name}}</h3>
                    <span class="qty">1 Ton</span><span class="rating"><svg width="24" height="24"
                        class="text-primary">
                        <use xlink:href="#star-solid"></use>
                      </svg> 4.5</span>
                    <span class="price">₹{{product.price}}</span>
                    <div class="d-flex align-items-center justify-content-between">
                      <div class="input-group product-qty">
                        <span class="input-group-btn">
                          <button type="button" class="quantity-left-minus btn btn-danger btn-number" data-type="minus">
                            <svg width="16" height="16">
                              <use xlink:href="#minus"></use>
                            </svg>
                          </button>
                        </span>
                        <input type="text" id="quantity" name="quantity" class="form-control input-number" value="1">
                        <span class="input-group-btn">
                          <button type="button" class="quantity-right-plus btn btn-success btn-number" data-type="plus">
                            <svg width="16" height="16">
                              <use xlink:href="#plus"></use>
                            </svg>
                          </button>
                        </span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- / just-arrived-carousel -->

      </div>
    </div>
  </div>
</section>

<!-- Latest Blog -->
<section id="latest-blog" class="py-5">
  <div class="container-fluid">
    <div class="row">
      <div class="section-header d-flex align-items-center justify-content-between my-5">
        <h2 class="section-title">Our Recent Blog</h2>
        <div class="btn-wrap align-right">
          <a href="#" class="d-flex align-items-center nav-link">Read All Articles <svg width="24" height="24">
              <use xlink:href="#arrow-right"></use>
            </svg></a>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4" *ngFor="let post of blogPosts">
        <article class="post-item card border-0 shadow-sm p-3">
          <div class="image-holder zoom-effect">
            <a href="#">
              <img [src]="post.image" alt="post" class="card-img-top">
            </a>
          </div>
          <div class="card-body">
            <div class="post-meta d-flex text-uppercase gap-3 my-2 align-items-center">
              <div class="meta-date"><svg width="16" height="16">
                  <use xlink:href="#calendar"></use>
                </svg>{{post.date}}</div>
              <div class="meta-categories"><svg width="16" height="16">
                  <use xlink:href="#category"></use>
                </svg>{{post.category}}</div>
            </div>
            <div class="post-header">
              <h3 class="post-title">
                <a href="#" class="text-decoration-none">{{post.title}}</a>
              </h3>
              <p>{{post.excerpt}}</p>
            </div>
          </div>
        </article>
      </div>
    </div>
  </div>
</section>

<!-- App Download Section -->
<section class="py-5 my-5">
  <div class="container-fluid">

    <div class="bg-warning py-5 rounded-5" style="background-image: url('images/bg-pattern-2.png') no-repeat;">
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <img src="../../assets/phone.png" alt="phone" class="image-float img-fluid">
          </div>
          <div class="col-md-8">
            <h2 class="my-5">Built to Hold. Made to Last.</h2>
            <p>Fasteners are essential components used to securely join two or more materials, playing a critical role
              in construction, manufacturing, and everyday applications. From bolts, nuts, and washers to threaded rods
              and anchor bolts, these hardware elements ensure strength, stability, and durability in every structure.
            </p>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>

<!-- Tags Section -->
<section class="py-5">
  <div class="container-fluid">
    <h2 class="my-5">People are also looking for</h2>
    <a href="#" class="btn btn-warning me-2 mb-2" *ngFor="let tag of tags">{{tag}}</a>
  </div>
</section>

<!-- Features Section -->
<section class="py-5">
  <div class="container-fluid">
    <div class="row row-cols-1 row-cols-sm-3 row-cols-lg-5">
      <div class="col" *ngFor="let feature of features">
        <div class="card mb-3 border-0">
          <div class="row">
            <div class="col-md-2 text-dark">
              <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" [attr.viewBox]="feature.viewBox">
                <path [attr.fill]="feature.fill" [attr.d]="feature.path" />
              </svg>
            </div>
            <div class="col-md-10">
              <div class="card-body p-0">
                <h5>{{feature.title}}</h5>
                <p class="card-text">{{feature.description}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Footer -->

